/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Logo */
.logo {
    height: 70px;
}

/* Header */
header {
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    background-image: url(../imagenes/fondopag.jpg);
    height: 90vh;
    position: relative;
}

/* Filtro oscuro en el fondo del header */
.oscurecerfondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Sección de Motos */
.motos {
    display: flex;
    flex-direction: column; /* Alinea la imagen y el texto verticalmente */
    align-items: center; /* Centra el contenido dentro de cada item */
    text-align: center; /* Centra el texto dentro de cada item */
    max-width: 100%; /* Evita que los items se salgan del contenedor */
    padding: 20px; /* Añade padding para mejor espaciado */
    box-sizing: border-box; /* Incluye el padding en el tamaño del contenedor */
}

/* Estilo para las imágenes de motos */
.crf250, .crf450 {
    margin: 20px 0; /* Ajusta el margen para móviles */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    border-radius: .4rem; /* Borde redondeado */
    background-color: rgb(0, 0, 0); /* Fondo negro opcional */
}

/* Lore de las Motos */
.lorehonda {
    text-align: left;
    margin: 20px;
}

/* Ubicación */
.ubicacion {
    text-align: center; /* Centra el texto */
    margin: 20px; /* Ajusta los márgenes */
}

/* Contacto */
.contacto {
    display: flex;
    flex-direction: column; /* Cambia la dirección del layout para móviles */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
}

.contacto a {
    color: #fff; /* Color blanco para el texto de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    margin: 5px 0; /* Márge */
}